body{
background-image: linear-gradient(to right,rgba(153 ,50, 204,0.6),rgba(178, 58, 238,0.5)),url("image/businessman-2956974_1920.jpg");
background-attachment: fixed;
background-position: center;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .input-container #subject{
      width: 100%;
      margin-top: 25px;
      border-radius: 18px;
      border: 2px solid rgb(182, 157, 157);
  }
  
  .icon {
    border-radius: 15px;
    padding: 18px;
    background: dodgerblue;
    color: white;
    min-width: 60px;
    text-align: center;
  }
  
  .input-field {
    border: 2px solid rgb(182, 157, 157);
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 15px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .fab{
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-twitter {
    margin-top: 50px;
    margin-left: 470px;
    border-radius: 200px;
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    border-radius: 200px;
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    border-radius: 200px;
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    border-radius: 200px;
    background: #125688;
    color: white;
  }
  .fa-rss {
      border-radius: 200px;
    background: #ff6600;
    color: white;
  }
  .fa-phone{
      border-radius: 200px;
      background-color: rgb(200, 223, 71);
      color: white;
  }
  .fa-envelope-open-o{
    border-radius: 200px;
      background-color: dodgerblue;
      color: white;
  }
  